/* MediaEmbed */
.mediaembed,
.mediaembed-responsive {
  margin: 0 auto;
  overflow: hidden;

  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.mediaembed-media .mediaembed-media,
.mediaembed-media embed,
.mediaembed-media iframe,
.mediaembed-media object,
.mediaembed-media video,
.mediaembed-embed img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* Media screen of death */
.mediaembed-msod {
	background-color: #000;
	color: white;
	display: block;
	font-size: 80%;
	overflow: hidden;
	padding: 1em;
	position: relative;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}
.mediaembed-msod:before {
	content: "";
	display: block;

	position: absolute;
	z-index: -1;

	/* We make the element extra-large so we can shuffle it around without exposing the edges */
	height: 300%;
	left: -100%;
	top: -100%;
	width: 300%;

	-webkit-animation: grain 5s steps(10) infinite;
  -moz-animation: grain 5s steps(10) infinite;
  -ms-animation: grain 5s steps(10) infinite;
  animation: grain 5s steps(10) infinite;

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}
.mediaembed-msod .mediaembed-icon {
	font-size: 7em;
	line-height: 1em;
	margin: 0.25em auto 0;
}
.mediaembed-msod p b {
	display: block;
	font-weight: bold;
	text-align: center;
}
.mediaembed-msod .mediaembed-error-message {
	margin: 0 3em 1em;
	text-align: justify;
}
.mediaembed-msod .mediaembed-error-message b {
	color: #f00;
	text-transform: uppercase;
}

/* MediaEmbed media */

.mediaembed-container {
  position: relative;
}

/* MediaEmbed Play button */
.mediaembed-play {
	margin: auto;
	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 10px;

	width: 1em;
	height: 1em;

	color: #fff;
	display: block;
	font-size: 6em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 0 2px #ccc;

	visibility: visible;
	opacity: 1;
	z-index: 2;
}
.mediaembed-play:before {
	box-shadow: 0 0 2px 0 #ccc inset, 0 0 2px 0 #ccc;
	border: medium solid;
	border-radius: 100%;
	content: "";
	display: block;
	height: 120%;
	left: calc(-10% - 10px);
	position: absolute;
	top: calc(-5% - 5px);
	width: 120%;
}
.mediaembed-play::after {
  bottom: -1000%;
  content: "";
  display: block;
  left: -1000%;
  position: absolute;
  right: -1000%;
  top: -1000%;
}
.mediaembed-play:hover {
	color: #ccc;
}
.mediaembed-media iframe ~ .mediaembed-play,
.mediaembed-media input:checked ~ .mediaembed-play {
	visibility: hidden;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s linear 0s, z-index 1.5s linear 0s;
	   -moz-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s linear 0s, z-index 1.5s linear 0s;
	    -ms-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s linear 0s, z-index 1.5s linear 0s;
	     -o-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s linear 0s, z-index 1.5s linear 0s;
	        transition: opacity 1.5s ease-in-out 0s, visibility 1.5s linear 0s, z-index 1.5s linear 0s;
}
.mediaembed-media iframe ~ .mediaembed-play,
.mediaembed-media input:checked ~ .mediaembed-play:before {
	-webkit-animation: ring 1.5s ease-in-out 1;
	   -moz-animation: ring 1.5s ease-in-out 1;
	    -ms-animation: ring 1.5s ease-in-out 1;
	     -o-animation: ring 1.5s ease-in-out 1;
	        animation: ring 1.5s ease-in-out 1;
}

.mediaembed-media input:checked ~ noscript iframe {
	display: block !important;
}
.mediaembed-media .mediaembed-input {
  display: none;
}
.mediaembed-thumbnail {
	margin: auto;
	position: absolute;

	top: -50%;
	right: 0;
	bottom: -50%;
	left: 0;

	width: 100%;
	z-index: 0;
}

/* GitHub adjustments */
.mediaembed-github {
  overflow: auto;
}
.mediaembed-github .gist .line-numbers {
  width: 4em;
}
.mediaembed-github .gist-file {
  padding: 1em;
}

/*
 * Animations
 */

/* -- Grain -- */
@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 20%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
  }
}
@-moz-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 20%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
  }
}
@-ms-keyframes grain {
  0%, 100% {
    -ms-transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(-5%, -10%);
  }
  20% {
    -ms-transform: translate(-15%, 5%);
  }
  30% {
    -ms-transform: translate(7%, -25%);
  }
  40% {
    -ms-transform: translate(-5%, 25%);
  }
  50% {
    -ms-transform: translate(-15%, 10%);
  }
  60% {
    -ms-transform: translate(15%, 0%);
  }
  70% {
    -ms-transform: translate(0%, 15%);
  }
  80% {
    -ms-transform: translate(3%, 20%);
  }
  90% {
    -ms-transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
   transform: translate(3%, 20%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/* -- Ring -- */
@keyframes ring {
  0% {
  	transform: scale(1);
  	opacity: 1;
  	border-width: medium;
  }
  /* hidden */
  100% {
    transform: scale(3);
    opacity: 0;
    border-width: thin;
  }
}
